
<ngx-avatar  name="Akash Shah" [round]="true" size="32" textSizeRatio="2.5">
</ngx-avatar>

<h2>"{{happyText}}"</h2>

<button (click)="changeQuote()">Change the Quote</button>

<ol>
  <li *ngFor="let task of myToDos">{{task}}</li>
</ol>

<button (click)="goToForm()">Fill Some Details</button>

<textarea name="aboutMe" class="form-control chatArea"
          placeholder="A sentence or two describing who you are, followed by a few lines about your interests, passions, skills, etc">
</textarea>

<div class="chatArea">
  <emoji-input [(model)]="emoji"
               [textArea]="{cols: 40, rows: 5}"
               [popupAnchor]="'bottom'"
               (setPopupAction)="setPopupAction($event)">
  </emoji-input>

  <button (click)="openEmojis()">
    :)
  </button>
</div>


<!--<div class="span6">
  <textarea id="emojionearea1">Default :smile:</textarea>
</div>

<div class="span6">
  <textarea id="emojionearea5"></textarea>
</div>

<div class="span6">
  <div contenteditable="true" id="emojiDir" appEmojiPicker></div>
</div>-->

<div class="chatArea" id="terminal1"></div>
